footer {
  #menu-footer {
    li {
      margin: 1rem 0;
      a {
        transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
        &:hover {
          --tw-text-opacity: 1;
          color: rgb(75 85 99 / var(--tw-text-opacity));
          letter-spacing: 0.025em;
        }
      }
    }
    .current_page_item {
      &::after {
        content: "*";
        color: red;
      }
    }
  }
}

#footerScrollText {
  div {
    p {
      animation: animate 50s linear infinite;
      animation-delay: -50s;

      &:nth-child(2) {
        animation: animate2 50s linear infinite;
        animation-delay: -25s;
      }
    }
  }

  @keyframes animate {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes animate2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}
