footer {
  #menu-footer {
    li {
      margin: 1rem 0;
      a {
        transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
        &:hover {
          --tw-text-opacity: 1;
          color: rgb(75 85 99 / var(--tw-text-opacity));
          letter-spacing: 0.025em;
        }
      }
    }
    .current_page_item {
        &::after {
          content: "*";
          color: red;
        }
      }
  }
}
